@(contactForm: Form[Contact], user: User)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main(user) {

    <h1>Add a contact</h1>

    @form(routes.Application.saveContact(user.email)) {

        <fieldset>

            @inputText(contactForm("firstname"), '_label -> "First name")
            @inputText(contactForm("lastname"), '_label -> "Last name")
            @inputText(contactForm("number"), '_label -> "Phone number")
            @inputText(contactForm("city"), '_label -> "City")
            @inputText(contactForm("company"), '_label -> "Company")



        </fieldset>

        <div class="actions">
            <input type="submit" value="Create this contact"> or
            <a href="@routes.Application.index()">Cancel</a>
        </div>

    }

}